# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Streamlit
.streamlit/
